.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5em;
    background-color: var(--khaki);
}

.header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: var(--white);
}

.header-logo {
    height: 50px;
    display: block;
}

.header-title {
    font-size: 2rem;
}

@media (max-width: 600px) {
    .header-title {
        display: none;
    }
}


